In [ ]:
import pandas as pd
import numpy as np 
df=pd.read_csv(r"C:\Engineering\ALL IT\SEM 6\DSBDA\student-dataset.csv")
df

In [ ]:
df.describe()

In [6]:
df.shape

(307, 16)

In [ ]:
#creating Subsets
#Subset-1
df1=df[['id','latitude','longitude']].loc[0:15]
df1

In [ ]:
#Subset-2
df2=df[['id','latitude','longitude']].loc[16:30]
df2

In [ ]:
#Subset-3
df3=df[['id','latitude','longitude']].loc[31:50]
df3

In [ ]:
# Merge Data (concating) subset-1, subset-2, subset-3
marging=pd.concat([df1,df2,df3])
marging

In [ ]:
#sort Data
#age sort in ascending order
sort_values=df.sort_values('age',ascending=True)
sort_values

In [17]:
#Shape and Reshape Data
shaping=df.shape
shaping

(307, 16)

In [ ]:
#Transposing data 
df.transpose()

In [ ]:
#reshaping
pivot_table= pd.pivot_table(df,index=['nationality','name'],values='age')
print(pivot_table)