In [3]:
import pandas as pd
data=pd.read_csv(r"C:\Engineering\ALL IT\SEM 6\DSBDA\Iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
data.shape

(150, 6)

In [ ]:
data.isnull()

In [ ]:
data.isna()

In [ ]:
data.isna().sum()

In [12]:
#data integration
import scipy.integrate as integrate
import scipy.special as special

result = integrate.quad(lambda x: special.jv(2.5, x), 0, 4.5)
print(result)

(1.1178179380783253, 7.866317250224184e-09)

In [21]:
#Data integration
from numpy import sqrt, sin, cos, pi
I = sqrt(2/pi)*(18.0/27*sqrt(2)*cos(4.5) - 4.0/27*sqrt(2)*sin(4.5) +sqrt(2*pi) * special.fresnel(3/sqrt(pi))[0])
from scipy.integrate import quad
def integrand(x, a, b):
    return a*x**2 + b
a=2
b=1
I = quad(integrand, 0, 1, args=(a,b))
I

(1.6666666666666667, 1.8503717077085944e-14)

In [3]:
#Drop 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
df = pd.read_csv(r"C:\Engineering\ALL IT\SEM 6\DSBDA\Iris.csv")
df.drop(['SepalWidthCm'],inplace=True,axis=1)
df.head()

   Id  SepalLengthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1            1.4           0.2  Iris-setosa
1   2            4.9            1.4           0.2  Iris-setosa
2   3            4.7            1.3           0.2  Iris-setosa
3   4            4.6            1.5           0.2  Iris-setosa
4   5            5.0            1.4           0.2  Iris-setosa

In [ ]:
#Data integration
#Union and union_all Function in R using Dplyr
df1 = pd.DataFrame({'CustomerId': [1, 2, 3, 4, 5, 6], 'Product': ['Oven', 'Oven', 'Oven', 'Television', 'Television', 'Television']})
df2 = pd.DataFrame({'CustomerId': [4, 5, 6, 7],'Product': ['Television', 'Television', 'Air conditioner', 'Air conditioner']})
union_df = pd.concat([df1, df2]).drop_duplicates()
union_all_df = pd.concat([df1, df2])
print("Union without duplicates:")
print(union_df)

print("\nUnion all (including duplicates):")
print(union_all_df)
#Data integration involves combining data from multiple sources into a unified dataset.

In [ ]:
#data transformation
data = {'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],'Smoking Status': ['Smoker', 'Non-smoker', 'Non-smoker', 'Smoker', 'Non-smoker']}
df = pd.DataFrame(data)
gender_mapping = {'Male': 0, 'Female': 1}
smoking_status_mapping = {'Smoker': 1, 'Non-smoker': 0}
df['Gender_encoded'] = df['Gender'].map(gender_mapping)
df['Smoking Status_encoded'] = df['Smoking Status'].map(smoking_status_mapping)

print("Encoded DataFrame:")
print(df)
#We define mapping dictionaries gender_mapping and smoking_status_mapping to map categorical values to numerical values.
#We use the map function to apply these mappings to the respective columns 'Gender' and 'Smoking Status', creating new columns 'Gender_encoded' and 'Smoking Status_encoded' in the DataFrame df.
#Now, the categorical variables 'Gender' and 'Smoking Status' are encoded into numerical values, making them suitable for analysis in machine learning models or statistical analysis.

In [ ]:
#Error Correcting 
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Henry', 'Ivy', 'Jack'],
    'Age': [25, 30, 105, 40, 28, 110, 35, 45, 32, 115]
    }
df=pd.DataFrame(data)
median_age = df['Age'].median()
df.loc[df['Age'] > 100, 'Age'] = median_age

print("Corrected DataFrame:")
print(df)
#We calculate the median age using the median() function on the 'Age' column.
#We use the loc function to locate rows where the 'Age' value is greater than 100.
#For those rows, we replace the 'Age' value with the median age.
#This process handles outliers in the 'Age' column by replacing values above 100 with the median age, ensuring a more realistic and accurate representation of the data.

In [33]:
#Data Model Building
#a logistic regression model to predict the likelihood of heart disease based on features such as age, gender, and cholesterol level
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
data = {
    'Age': [63, 37, 41, 56, 57, 57, 56, 44, 52, 57],
    'Gender': ['Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male'],
    'Cholesterol': [233, 250, 204, 236, 354, 192, 294, 263, 199, 168],
    'Heart Disease': [1, 0, 1, 1, 0, 1, 0, 1, 1, 0]
}
df = pd.DataFrame(data)
df['Gender'] = df['Gender'].map({'Male': 0, 'Female': 1})
X = df[['Age', 'Gender', 'Cholesterol']]
y = df['Heart Disease']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of the logistic regression model:", accuracy)

#We create a DataFrame df with features 'Age', 'Gender', 'Cholesterol', and the target variable 'Heart Disease'.
#We encode the categorical variable 'Gender' into numerical values.
#We split the data into features (X) and the target variable (y).
#We split the data into training and testing sets using 80% of the data for training and 20% for testing.
#We initialize and train a logistic regression model using the training data.
#We predict the target variable on the test set.
#We calculate the accuracy of the logistic regression model on the test set.

Accuracy of the logistic regression model: 0.5